body{
    margin: 0 auto;
}
:root{
    --white:#FDFDFD;
    --green:#10B582;
    --orage: #FA9F42;

    --h1: 500 58px/120% Raleway;
    --p:400 16px/150% Raleway;
}
.nav{

    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 408px;
    align-items: center;
    justify-content: flex-start;
}
.nav ul{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    padding: 0;
    gap: 40px;

}
.nav li{
    color: var(--white);
    list-style: none;
    font: 500 16px Raleway;
}

section{
    padding: 40px 135px 212px;
    background-color: var(--green);
    max-width: 1920px;
    max-height: 800px;
    margin: 0 auto;
 
   
}
section h1{
    max-width: 542px;
    font: 500 58px/120% Raleway;
    color:var(--white);
    text-align: center;
    margin: 40px 0 20px 0

}
section p{
    padding: 0;
    max-width: 400px;
    font: var(--p);
    color:var(--white);
    text-align: center;
    margin-left: 82px;
}
section button{
    width: 230px;
    height: 56px;
    margin-top: 60px;
    font: var(--p);
    background-color:var(--orage);
    border: none;
    color: var(--white);
    border-radius: 0 20px 0 20px ;
    margin-left: 156px;
}

.image{
    margin-left: 186px; 
}


.main{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
   width: 542px;
   gap: 44px;
   margin-top: 156px;
   
}
.text{
    width: 542px;
}
.image{
    align-items: center;
    justify-content: center;
    padding: 0 186 0 186px;
}




section2{
    max-width: 1920px;
    max-height: 800px;
    margin: 0 auto;
}
section2 p{
    width: 270px;
    font: 400 14px/130% Raleway;
    text-align: center;
    margin-top: 15px;
  
}
h1{
    max-width: 542px;
    font: 500 58px/120% Raleway;
    color:var(--green);
    text-align: center;
    margin: 0 auto;
}
.numbers{
    display: flex;
    padding: 120px 135px 20px;
    gap: 30px;
}

section3{
    padding: 148px 135px 20px;
    max-width: 1920px;
    max-height: 800px;
    margin: 0 auto;
 display: flex;  
 gap: 100px; 
}
.textbox2{
    max-width: 500px;
}
.textbox2 h1{
    max-width: 542px;
    font: 500 58px/120% Raleway;
    color:var(--green);
    text-align: center; 
}
.textbox2 p{
    font: var(--p);
    margin-bottom: 0;
}
section3 button{
    width: 230px;
    height: 56px;
    margin-top: 60px;
    font: var(--p);
    background-color:var(--green);
    border: none;
    color: var(--white);
    border-radius: 0 20px 0 20px ;
    margin-bottom: 150px;
}
section4{
    display: flex;
    padding: 120px 135px 120px;
    background-color: var(--green);
    max-width: 1920px;
    max-height: 602px;
    margin: 0 auto; 
    gap: 100px;
    margin-bottom: 150px;
}
.txt p{
    font: var(--p);
    width: 478px;
    color: var(--white);
    
}
section4 button{
    width: 230px;
    height: 56px;
    margin-top: 50px;
    font: var(--p);
    background-color:var(--orage);
    border: none;
    color: var(--white);
    border-radius: 0 20px 0 20px ;
}

.txt h1{
    margin-left: 0;
}
.txt h1{
    max-width: 542px;
    font: 500 58px/120% Raleway;
    color:var(--white);
    text-align: left;
}
.txt p{
    margin-bottom: 0;
}

section5{
    padding: 40px 135px 20px;
    max-width: 1920px;
    max-height: 602px;
    margin: 0 auto; 
}
.cards{
    gap: 30px;
    display: flex;
    padding: 40px 135px 20px;
}

footer{
    margin-top: 120px;
display: flex;
padding: 40px 135px 20px;
}

.foonav{
    display: flex;
    gap: 40px;
    margin-left: 200px;
    font: var(--p);
}
.foonav p{
    font: 500 16px/150% Raleway;
}
footer ul{
    margin-top: 0;
}
ul p{
    margin-top: 0;
}
ul li{
    list-style: none; 
    margin-bottom: 10px;  
}
.ss{
    margin-top: 40px;
}
